@media screen and (max-width: 769px) {
  /* navbar section */
  .navbar {
    height: 60px;
  }
  .nav-ul {
    display: none;
  }
  .navbar img {
    height: 25px;
    width: auto;
  }

  /* main section */
 

  #main-section h1 {
    font-size: 50px;

    letter-spacing: 15px;
    text-align: center;
    line-height: 100px;
  }
  #main-section h3 {
   
    bottom: 80px;
    
  }
  #main-section img {
    display: none;
  }
  #main-section h3 {
    font-size: 15px;
  }
  /* second section */
  #second-section {
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 10px;
    align-content: flex-start;
  }
 
  .cards {
    height: 350px;
    width: 300px;
    margin-top: 15px;
    margin-bottom: 20px;
   
  }

  /* third section */

  #third-section {
    height: 100%;
    width: 100%;
    
  }
}
